# =========================================================================== #
# ФАЙЛ КОНФИГУРАЦИИ СБОРКИ, РАСКОММЕНТИРОВАТЬ И ОТРЕДАКТИРОВАТЬ НУЖНЫЕ СТРОКИ #
# =========================================================================== #


    # ============================================================
    # Общая конфигурация
    # ============================================================
        # --- Имя проекта ---
        set(PROJECT_NAME "F405")


    # ============================================================
    # Выбор микроконтроллера
    # (Раскомментируйте ОДНУ строку из списка ниже)
    # ============================================================
        # set(TARGET_CHIP "F407VGT6")   # 1MB Flash, 192KB RAM
        set(TARGET_CHIP "F405RGT6")   # 1MB Flash, 192KB RAM
        # set(TARGET_CHIP "F103RET6")   # 512KB Flash, 64KB RAM
        # set(TARGET_CHIP "F103C8T6")   # 64KB Flash, 20KB RAM
        # set(TARGET_CHIP "F072VBT6")   # 128KB Flash, 16KB RAM
        # set(TARGET_CHIP "F072CBT6")   # 128KB Flash, 16KB RAM
        # set(TARGET_CHIP "F030K6T6")     # 32KB Flash, 4KB RAM
        # set(TARGET_CHIP "F030F4P6")   # 16KB Flash, 4KB RAM


    # ============================================================
    # Источник тактирования
    # (Если установлен HSE — раскомментируйте строку ниже и укажите частоту)
    # ============================================================
        set(HSE_VALUE 8000000)


    # ============================================================
    # Пути к компилятору
    # (Прописать, если отличаются от стандартных)
    # ============================================================
    set(ARM_PATH "C:/Program Files (x86)/Arm/GNU Toolchain mingw-w64-i686-arm-none-eabi")
    set(ARM_VERSION "15.3.1")


    # ============================================================
    # Дополнительные опции
    # ============================================================
        # set(USE_FULL_ASSERT ON)       # Включить полную проверку assert
        set(USE_FULL_LL_DRIVER ON)    # Использовать полные LL драйверы


    # ============================================================
    # Сторонние библиотеки
    # ============================================================
        set(USE_FATFS ON)
        set(USE_SEGGER ON)
        set(USE_TINYUSB ON)
        set(TINYUSB_CLASS_MSC ON)
        set(TINYUSB_CLASS_CDC ON)